
.loading {
    margin-left: 45%;
    margin-top: 350px;
    border: 16px solid #f3f3f3; /* light gray border */
    border-top: 16px solid #3498db; /* blue border for animation */
    border-radius: 50%; /* make it a circle */
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* set the animation properties */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  